@import 'tailwindcss';
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-main-background: url('/src/assets/background.svg');
  --background-image-purple-gradient: url('/src/assets/purple_gradient.jpg');
}
html,
body {
  overflow: hidden;
}
